.intro {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container .submit {
  background-color: green;
  border-radius: 50%;
  border: 2px solid green;
  width: 50%;
}
.formContainer button {
  background-color: green;
  border: 2px solid green;
}

.formContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  background-image: url("../images/spices.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.fullPage {
  height: 100vh;
}

.recipeContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  background-image: url("../images/soup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
